body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

#header a {
  color: #fff;
}

#profile a {
  color: #1C2127;
  opacity: 100%;
  transition: opacity 0.2s;
}

#profile a:hover {
  opacity: 80%;
}

/* HEADER */

#header {
  background-color: #C8B38A;
  height: 73px;
  width: 100%;
  position:  absolute;
  left: 0px;
  top: 0px;
  text-align:  center;
  line-height: 73px;
}

#header h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  letter-spacing: 0.5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* PROFILE */

#profile {
  margin-top: 113px;
  width: 100%;

  color: #1C2127;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}

#profile .dp {
  width: 108px;
  height: 108px;
  background: #1C2127;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  margin:  0 auto;

  text-align: center;
}

/* DISPLAY PICTURES
--------------------*/

#profile #dp-nb {
  background-image: url("images/dp-nb.jpg");
  background-size: contain;
  background-position: center;
}

#profile #dp-ls {
  background-image: url("images/dp-ls.jpg");
  background-size: contain;
  background-position: center;
}

#profile #dp-dl {
  background-image: url("images/dp-dl.jpg");
  background-size: contain;
  background-position: center;
}

#profile #dp-mb {
  background-image: url("images/dp-mb.jpg");
  background-size: contain;
  background-position: center;
}

#profile #dp-ab {
  background-image: url("images/dp-ab.jpg");
  background-size: contain;
  background-position: center;
}

/* DISPLAY PICTURES FINISH
--------------------------*/

#profile #name {
  font-weight: bold;
  font-size: 23px;
  margin-top: 14px;
  letter-spacing: 0.3px;

  text-align: center;
}

#profile #location {
  margin-left: 50%;
}

#profile #location-content {
  display: inline-block;
  transform: translateX(-50%);
  position:  absolute;
}

#profile #pin {
  width: 9px;
  height: 18px;
  background: url("spritesheet.png") 0 -1px;
  position: absolute;
  top: -12px;
}

#profile #place {
  font-weight: 500;
  font-size: 14px;
  margin-top: -12px;
  margin-left: 14px;
}

/* MAIN */

#main {
  margin-top: 60px;
  padding-bottom: 73px;
}

.group {
  width: 991px;
  margin:  0 auto;
}

.group h4 {
  margin-left: 28px;
  margin-top: 35px;

  color: #1C2127;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.6px;
}

.list {
  display: flex;
}

.item {
  background-color: #1C2127;
  /*background-clip: content-box;
  /*padding: 0px 10px 0px 10px;*/
  /*border-radius: 5px;*/

  background-size: cover;
  background-position: center;
}


/*FIX THIS SO THE IMAGES BECOME GREY NOT WHITE
.item:hover {
  background-color: #A1A1A1;
  opacity: 50%;
}
*/

#films-list .item {
  width: 171px;
  height: 260px;
  margin: 0px 10px 0px 10px;
}

#albums-list .item {
  width: 222px;
  height: 222px;
  margin: 0px 8px 0px 8px;
}

#books-list .item {
  width: 171px;
  height: 260px;
  margin: 0px 10px 0px 10px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align:  center;
  /*opacity: 0%;*/
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;

  color: rgba(255, 255, 255, 0);
  background-color: rgba(161, 161, 161, 0);
  transition: color 0.2s, background-color 0.2s;
}

.label:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(161, 161, 161, 0.85);
}

#films-list .label {
  width:  131px;
  height:  260px;
}

#books-list .label {
  width: 131px;
  height: 260px;
}

#albums-list .label {
  width: 182px;
  height: 222px;
}

.back-arrow {
  width: 18px;
  height: 18px;
  background-color: black;
  position: relative;
  left: -5px;
  background: url("spritesheet.png") -9px 0;
}

.forwards-arrow {
  width: 18px;
  height: 18px;
  background-color: black;
  position: relative;
  right: -5px;
  background: url("spritesheet.png") -9px 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#films-list .back-arrow,
#films-list .forwards-arrow,
#books-list .back-arrow,
#books-list .forwards-arrow {
  top: 121px;
}

#albums-list .back-arrow,
#albums-list .forwards-arrow {
  top: 102px;
}

#albums-list .forwards-arrow {
  right: -7px;
}

/* HOME PAGE */

#profiles-list {
  display: flex;
  margin: 0 180px 0 180px;
}

/* NICK IMAGES
-------------- */

#nick #film1 {
  background-image: url("images/nick/bt.jpg");
}
#nick #film2 {
  background-image: url("images/nick/8.jpg");
}
#nick #film3 {
  background-image: url("images/nick/p.jpg");
}
#nick #film4 {
  background-image: url("images/nick/wr.jpg");
}
#nick #film5 {
  background-image: url("images/nick/an.jpg");
}
#nick #album1 {
  background-image: url("images/nick/wf.jpg");
}
#nick #album2 {
  background-image: url("images/nick/gh.jpg");
}
#nick #album3 {
  background-image: url("images/nick/ac.jpg");
}
#nick #album4 {
  background-image: url("images/nick/te.jpg");
}
#nick #book1 {
  background-image: url("images/nick/tm.jpg");
}
#nick #book2 {
  background-image: url("images/nick/tt.jpg");
}
#nick #book3 {
  background-image: url("images/nick/gf.jpg");
}
#nick #book4 {
  background-image: url("images/nick/wn.jpg");
}
#nick #book5 {
  background-image: url("images/nick/se.jpg");
}

/* MARK IMAGES
-------------- */

#mark #film1 {
  background-image: url("images/mark/pf.jpg");
}
#mark #film2 {
  background-image: url("images/mark/md.jpg");
}
#mark #film3 {
  background-image: url("images/mark/ti.jpg");
}
#mark #film4 {
  background-image: url("images/mark/1917.jpg");
}
#mark #film5 {
  background-image: url("images/mark/jw.jpg");
}
#mark #album1 {
  background-image: url("images/mark/p.jpg");
}
#mark #album2 {
  background-image: url("images/mark/a.jpg");
}
#mark #album3 {
  background-image: url("images/mark/tlo.jpg");
}
#mark #album4 {
  background-image: url("images/mark/i.jpg");
}
#mark #book1 {
  background-image: url("images/mark/mr.jpg");
}
#mark #book2 {
  background-image: url("images/mark/g.jpg");
}
#mark #book3 {
  background-image: url("images/mark/rsh.jpg");
}
#mark #book4 {
  background-image: url("images/mark/1984.jpg");
}
#mark #book5 {
  background-image: url("images/mark/un.jpg");
}

/* DAN IMAGES
-------------- */

#dan #film1 {
  background-image: url("images/dan/lll.jpg");
}
#dan #film2 {
  background-image: url("images/dan/b.jpg");
}
#dan #film3 {
  background-image: url("images/dan/m.jpg");
}
#dan #film4 {
  background-image: url("images/dan/dtrt.jpg");
}
#dan #film5 {
  background-image: url("images/dan/sny.jpg");
}/*
#mark #album1 {
  background-image: url("images/mark/p.jpg");
}
#mark #album2 {
  background-image: url("images/mark/a.jpg");
}
#mark #album3 {
  background-image: url("images/mark/tlo.jpg");
}
#mark #album4 {
  background-image: url("images/mark/i.jpg");
}*/
#dan #book1 {
  background-image: url("images/dan/ep.jpg");
}
#dan #book2 {
  background-image: url("images/dan/c22.jpg");
}
#dan #book3 {
  background-image: url("images/dan/cr.jpg");
}
#dan #book4 {
  background-image: url("images/dan/sa.jpg");
}
#dan #book5 {
  background-image: url("images/dan/bc.jpg");
}

/* LUKE IMAGES
-------------- */


#luke #film1 {
  background-image: url("images/luke/p.jpg");
}
#luke #film2 {
  background-image: url("images/luke/sny.jpg");
}
#luke #film3 {
  background-image: url("images/luke/cs.jpg");
}
#luke #film4 {
  background-image: url("images/luke/ms.jpg");
}
#luke #film5 {
  background-image: url("images/luke/cm.jpg");
}
#luke #album1 {
  background-image: url("images/luke/wys.jpg");
}
#luke #album2 {
  background-image: url("images/luke/ncf.jpg");
}
#luke #album3 {
  background-image: url("images/luke/1975.jpg");
}
#luke #album4 {
  background-image: url("images/luke/or.jpg");
}
#luke #book1 {
  background-image: url("images/luke/f.jpg");
}
#luke #book2 {
  background-image: url("images/luke/tr.jpg");
}
#luke #book3 {
  background-image: url("images/luke/hd.jpg");
}
#luke #book4 {
  background-image: url("images/luke/dg.jpg");
}
#luke #book5 {
  background-image: url("images/luke/id.jpg");
}