body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

#header a {
  color: #fff;
}

#profile a {
  color: #1C2127;
  opacity: 100%;
  transition: opacity 0.2s;
}

#profile a:hover {
  opacity: 80%;
}

/* HEADER */

#header {
  background-color: #C8B38A;
  height: 73px;
  width: 100%;
  position:  absolute;
  left: 0px;
  top: 0px;
  text-align:  center;
  line-height: 73px;
}

#header h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  letter-spacing: 0.5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-right: 40px;
}

#header h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 12px;
  padding-right: 12px;
}

#header .selected {
  font-weight: 800;
}

/* PROFILE */

#profile {
  margin-top: 113px;

  color: #1C2127;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}

#user #profile {
  width: 100%;
}

#profile .dp {
  width: 108px;
  height: 108px;
  background-color: #1C2127;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  margin-left:  50%;
  transform: translateX(-50%);
}

#profile #name {
  font-weight: bold;
  font-size: 23px;
  margin-top: 10px;
  letter-spacing: 0.3px;

  text-align: center;
}

#profile #location {
  margin-left: 50%;
}

#profile #location-content {
  display: inline-block;
  transform: translateX(-50%);
  position:  absolute;
}

#profile #pin {
  width: 9px;
  height: 18px;
  background: url("spritesheet.png") 0 -1px;
  position: absolute;
  top: -15px;
}

#profile #place {
  font-weight: 500;
  font-size: 14px;
  margin-top: -15px;
  margin-left: 14px;
}

#profile #bio {
  font-weight: 400;
  font-size: 14px;
  text-align:  center;
  margin-top: 42px; /*LINKED TO #MAIN MARGIN BELOW \/*/
  line-height: 20px;
}

/* MAIN */

#main {
  margin-top: 0px; /*originally 60px*/
  padding-bottom: 73px;
}

.group {
  width: 997px;
  margin:  0 auto;
}

.group h4 {
  margin-left: 28px;
  margin-top: 35px;

  color: #1C2127;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.6px;
}

.list {
  display: flex;
}

.item-container {
  margin: 0px 10px 0px 10px;
  position:  relative;
  text-align: center;
  background-color: #1C2127;
}

#films .item-container ,
#films .item-container img,
#books .item-container,
#books .item-container img {
  width: 172px;
  height: 260px;
}

#albums .item-container,
#albums .item-container img {
  width: 220px;
  height: 220px;
}

.item-container .text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;

  color: rgba(255, 255, 255, 0);
  background-color: rgba(161, 161, 161, 0);
  transition: color 0.2s, background-color 0.2s;
}

.item-container .text:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(161, 161, 161, 0.85);
}

#films .item-container .text,
#books .item-container .text {
  width: 132px;
  height: 260px;
  top: 130px;
}

#albums .item-container .text {
  width: 180px;
  height: 220px;
  top: 110px;
}

.back-arrow {
  width: 18px;
  height: 18px;
  background-color: black;
  position: relative;
  left: -8px;
  background: url("spritesheet.png") -9px 0;
}

.forwards-arrow {
  width: 18px;
  height: 18px;
  background-color: black;
  position: relative;
  right: -8px;
  background: url("spritesheet.png") -9px 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.back-arrow:hover,
.forwards-arrow:hover {
  background-position: -27px 0;
}

#films .back-arrow,
#films .forwards-arrow,
#books .back-arrow,
#books .forwards-arrow {
  top: 121px;
}

#albums .back-arrow,
#albums .forwards-arrow {
  top: 101px;
}

#albums-list .forwards-arrow {
  right: -7px;
}

/* HOME PAGE */

#profiles-list {
  margin:  0 auto;
  width: 1050px;
  display: flex;
  justify-content: center;
}

#profiles-list #profile {
  padding-left: 40px;
  padding-right: 40px;
}
